<html>
<head>
    <title>
        Example of Paragraph tag
    </title>
</head>
<body>
<div>
    <form method="post" action="add">
        <input type="text" name="text" placeholder="Enter text here">
        <input type="text" name="tag" placeholder="Enter tag here">
        <button type="submit">Add</button>
    </form>
</div>

<form method="post" action="filter">
    <input type="text" name="text">
    <button type="submit">Find</button>
</form>

<form method="post" action="remove">
    <input type="text" name="id">
    <button type="submit">Remove</button>
</form>

<div>List of messages:</div>
<!--Відтворення даних які були внесені в базу даних-->
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/messages}}
<p> <!-- It is a Paragraph tag for creating the paragraph -->
    Among Us doesn’t have a story mode, so any lore is a theory until InnerSloth confirms or denies them. However,
    it hasn’t stopped fans from chiming in for just about every aspect of the game. The casual fan might have never
    heard of these lore theories, but if you’re addicted to the game like we are, then you know every inch of fan
    theory out there. Here are some of the Among Us lore theories you didn’t know about.

</body>
</html>